$dark_bg : #18171fe0;
$grey_bg : #F0EEF5;


.lmsf__cont{
background-color: #000;
background-image: url('../../../IMG/bg4.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
min-height: 667px;
color: #fff !important;

.dim__form{
      width: 360px;
      margin: 70px auto; 
}

.mg__1em{
      margin: 1em;
}
.btw__flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
}

}
.kis8{
      line-height: 1.7;
}

.mg__left{
      margin-left: .5em;
}

.mg__2em{
      margin-bottom: 2em;
}
.mgTop__1em{

      margin-top: 1em;
}

.link{
      text-decoration: none;
      color: inherit;
}
.link:hover{
      text-decoration: underline;
}

//success style
.background{
      background-color: #e6f3f8;
      color: $dark_bg;
      height: 100vh;
      min-height: 660px;
      .background__flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1em;
            margin: 0 auto;
            max-width: 600px;
            p{
                  margin-top: 1em;
                  margin-bottom: 1em;
            }
           
            
      }
}


@media (max-width: 576px) {
      .dim__form{
            width: 100%;
            padding: 1em;
      }
}